<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<form action="">
<input type="text" name="url">
<label for="url"> Add url </label>
<input type="submit" value="Add bookmark">
</form>